numpy==2.3.2
pandas==2.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
altgraph==0.17.4
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
concurrent-log-handler==0.9.28
cryptography==45.0.5
et_xmlfile==2.0.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
openpyxl==3.1.5
packaging==25.0
pdf2image==1.17.0
pdfminer.six==20250506
pdfplumber==0.11.7
pefile==2023.2.7
pillow==11.3.0
portalocker==3.2.0
PyAudio==0.2.14
pycparser==2.22
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.6
PyMuPDF==1.26.3
PyPDF2==3.0.1
pypdfium2==4.30.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pytesseract==0.3.13
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
razorpay==1.4.2
requests==2.32.3
setuptools==80.9.0
six==1.17.0
SpeechRecognition==3.14.3
typing_extensions==4.14.1
urllib3==2.4.0
asgiref==3.8.1
boto3==1.38.3
botocore==1.38.3
Django==5.1
django-storages==1.14.6
djangorestframework==3.15.2
jmespath==1.0.1
s3transfer==0.12.0
sqlparse==0.5.3